<%- include("partials/header") %>


<form action="/" method="POST">
    <input type="text" id="urlInput" name="url" placeholder="Add http://" required>
    <input type="submit" id="submit-btn">
</form>



<%- include("partials/footer") %>